.page__heading {
  margin: 2em 0 1em 0;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.message-container {
  visibility: hidden;
  padding: 1em 2em;
  background: $light-acc-clr;
  color: $acc-clr;
}

.product {
  padding: 1.4em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin: 3em 0;
  width: 30vw;
  @include btn-input-styles;
  background: $el-bcg;
}

.amount-span {
  width: 4em;
  margin: 0 0.5em;
  font-size: 1rem;
  background: $light-acc-clr;
  border-radius: $radius;
}

.category-span {
  width: 5em;
  margin: 0;
  font-size: 1rem;
  background: $light-acc-clr;
  border-radius: $radius;
}
