button,
a {
  font-family: "Sniglet", cursive;
  color: $text-clr;
}

.button__icon {
  margin-left: 0.5em;
}

.header__button {
  background: transparent;
}

.user-action {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.user-action__button--shadow {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  padding: 1em 0.5em;
  background: $el-bcg;
  font-size: 1rem;
  transition: 0.3s;
  @include btn-input-styles;
}

.form__button {
  font-size: 1.3rem;
  width: 100%;
  background: $acc-clr;
  color: $el-bcg;
  border-radius: $radius;
  height: 8vh;
  transition: 0.3s;
}

.form__button:hover,
.remove-product-button:hover {
  background: #6b89c9;
  cursor: pointer;
}

.user-action__button {
  display: flex;
  width: 8em;
  gap: 10px;
  margin: 2em 0;
  padding: 1em 0.5em;
  transition: 0.3s;
  @include btn-input-styles;
  background: $el-bcg;
  transition: 0.3s;
}

.user-action__button:hover {
  background: $acc-clr;
  color: $light-acc-clr;
  cursor: pointer;
}

.remove-product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: $radius;
  background: $acc-clr;
  transition: 0.3s;
}

.button-icon {
  width: 1.2em;
  pointer-events: none;
}
