main {
  width: 100vw;
  padding: 0 1.5em;
  margin: 0 auto;
}

.user-action {
  display: flex;
  margin: 4em 0 2em 0;
  gap: 20px;
}

.products-info {
  display: none;
  height: 100%;

  order: 2;
  width: 50%;
  padding: 0 0.4em;
  margin: 0 auto;
  border: $radius;
  background: $nav-el-clr;
  &__text {
    color: $light-acc-clr;
  }
}

.products-info.mobile {
  display: none;
  width: 100%;
}

.products-info__text {
  display: flex;
}

.active {
  background: #23cbd8;
  color: $light-acc-clr;
}

.catergory-data {
  color: $acc-clr;
  margin-left: 0.2em;
}
