main {
  width: 100vw;
  padding: 0 1.5em;
  margin: 0 auto;
}

.user-action {
  display: flex;
  margin: 4em 0 2em 0;
  gap: 20px;
}

.products-info {
  width: 80%;
  padding: 0 0.4em;
  border: $radius;
  background: $nav-el-clr;
  &__text {
    color: $light-acc-clr;
  }
}

.active {
  background: $acc-clr;
  color: $light-acc-clr;
}

.catergory-data {
  color: $acc-clr;
  margin-left: 0.2em;
}
