@media (min-width: 1024px) {
  .header-button__image {
    display: none;
  }

  body {
    display: flex;
  }

  .nav {
    display: flex;
  }
  .header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em 0;
    width: 18vw;
    height: 100vh;
  }

  main {
    width: 70vw;
  }

  .nav {
    position: inherit;
    width: auto;
    min-height: 50vh;
    margin: 0 0.5em;
    padding: 1em 0 2em 0;
    background: transparent;
    width: 100%;
    &__item {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &__list {
      display: flex;
      align-items: center;
      padding: 1em 2em;
      gap: 15px;
      margin-top: 0.5em;
      font-size: 1.2rem;
      width: 100%;
    }
  }

  .list {
    &__image {
      width: 24px;
    }

    &__data {
      position: absolute;
      right: -10%;
      padding: 0.1em 0.4em;
      background: $nav-el-clr;
      border-radius: $radius;
    }
  }

  .user-action__button--shadow:hover {
    background: $acc-clr;
    color: $light-acc-clr;
    cursor: pointer;
  }

  .products-info {
    display: block;
    height: auto;
    order: 0;
    width: 80%;
    padding: 0 0.4em;
    margin: 1em 0;
    border: $radius;
    background: $nav-el-clr;
    &__text {
      color: $light-acc-clr;
    }
  }

  .products-info.mobile {
    display: none;
  }
}
