.nav {
  display: none;
  justify-content: center;
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
  min-height: 50vh;
  padding: 1em 0 2em 0;
  background: $main-clr;

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 1em 2em;
    gap: 15px;
    font-size: 1.2rem;
  }
}

.list {
  &__image {
    width: 24px;
  }

  &__data {
    position: relative;
    right: -20%;
    padding: 0.3em 0.5em;
    background: $nav-el-clr;
    border-radius: $radius;
  }
}

.list:hover {
  cursor: pointer;
  background: #23cbd8;
  color: $light-acc-clr;
}

.display {
  display: flex;
}

.display-block {
  display: block;
}
