.nav__list {
  color: $nav-text-clr;
}

main > * {
  color: $text-clr;
}

.category-heading {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-clr;
  text-align: center;
}
