$body-bcg-clr: #f4f4fa;
$main-clr: #173246;
$acc-clr: #8ba8e5;
$el-bcg: #ffffff;
$text-clr: #959595;
$radius: 2px;
$light-acc-clr: #e6edfc;
$nav-text-clr: #405c72;
$nav-el-clr: #294254;
$nav-qt-clr: #677885;
$box-shadow: 1px 1px 5px 0px rgb(206, 206, 206);
